*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

h1{
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
}

.grid__wrapper{
    gap: 1rem;
    padding: 2rem;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.grid__wrapper > *{
    border-radius: 5px;
    background-color: rgb(223, 187, 187);
    display: grid;
    place-items: center;
    width: 250px;
    height: 100px;
    color: black;
    font-weight: light;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.indicator {
	cursor: pointer;
}

.container {
    position: relative;
    width: 500px;
    height: 700px;
    background-color: white;
  }
  
  
  img {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    transform: scale(1.1);
  }
  
  .title {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .container:hover .title {
    top: 90px;
  }
  
  .button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: black;
    border: solid 2px black;
    z-index: 1;
  }
  
  .container:hover .button {
    opacity: 1;
  }
  
  .two{
      position: relative;
      left: 5rem;
      width: 150px;
      height: 300px;
      bottom: -15rem;
      background-color: rgb(35, 55, 145);
  }

  .three{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: green;
  }